* {
  margin: 0;
}

.img-float {
  width: 30%;
  float: left;
  margin-right: 0.8rem;
}
.par1 {
  border: 1px solid red;
}
/** Float ozelligini eski akisina getirmek icin clear property'si kullanilir.  */
.clearfix {
  clear: both; /*? her iki yondeki float akisini temizle*/
}

/* .main-div {
  width: 100%;
} */

.box {
  float: left;
  font-size: 2rem;
}

.box1 {
  background-color: aquamarine;
  width: 40%;
}

.box2 {
  background-color: magenta;
  width: 35%;
}

.box3 {
  background-color: purple;
  width: 15%;
}

.center {
  text-align: center;
}
