* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 1000px;
  border: 1px solid red;
}
.box {
  width: 7rem;
  height: 7rem;
}
.box1 {
  background-color: aqua;
  position: relative;
  left: 2rem;
  top: 2rem;
}
.box2 {
  background-color: rgb(255, 30, 0);
  position: relative;
  left: 1rem;
  top: 1rem;
}
